.copyright {
    font-size: 0.5rem;
}
.copyright em {
    font-family: "Diphylleia", serif;
}
.sidebar-nav {
    font-size: 0.75rem;
    margin:2rem 0;
}
p.category-group {
    margin-bottom:0px;
    border-bottom: 1px solid;
    font-size: 0.75rem;
    color:white;
    opacity: 0.6;
    font-style: italic;
}
a.category-item {
    position:relative;
    font-size: 0.75rem;
    margin-left: 20px;
}
a.category-item em{
    position: absolute;
    right: 0px;
}