<head>
    <link href="http://gmpg.org/xfn/11" rel="profile">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <!-- Enable responsiveness on mobile devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <title>
        {% if page.title == "Home" %}
        {{ site.title }}
        {% else %}
        {{ page.title }} &middot; {{ site.title }}
        {% endif %}
    </title>
    <meta name="description" content="{{ site.description }}"/>

    <!-- CSS -->
    <link rel="stylesheet" href="/public/css/poole.css">
    <link rel="stylesheet" href="/public/css/syntax.css">
    <link rel="stylesheet" href="/public/css/hyde.css">
    <link rel="stylesheet" href="/public/css/custom.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Diphylleia&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

    <!-- Icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
          href="/public/apple-touch-icon-144-precomposed.png">
    <link rel="shortcut icon" href="/public/favicon.ico">

    <!-- RSS -->
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">

    <!-- SEO -->
    <meta name="google-site-verification" content="sz6F2eYU6b44Hq5Lr-zDkKmjRJb8gmS6AJBISGtqpt4"/>
    <meta name="naver-site-verification" content="6d908ee335839da511610ed68e1119f16e079087"/>

    <meta property="title" content="{{ page.title }} &middot; {{ site.title }}">

    <meta property="og:title" content="{{ page.title }} &middot; {{ site.title }}">
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:image" content="https://rundevelrun.github.io/rundevelrun.png">
    <meta property="og:url" content="https://rundevelrun.github.io">

    <meta property="twitter:title" content="{{ page.title }} &middot; {{ site.title }}">
    <meta property="twitter:description" content="{{ site.description }}">
    <meta property="twitter:image" content="https://rundevelrun.github.io/rundevelrun.png">
    <meta property="twitter:domain" content="https://rundevelrun.github.io">


    <!-- Adsense -->
    <script src="https://pagead2.googlesyndication.com/pagead/managed/js/adsense/m202408270101/reactive_library_fy2021.js"></script>
    <script src="https://pagead2.googlesyndication.com/pagead/managed/js/adsense/m202408270101/show_ads_impl_fy2021.js"></script>

	<meta name="google-adsense-platform-account" content="ca-host-pub-9691043933427338">
	<meta name="google-adsense-platform-domain" content="tistory.com">
	<meta name="google-adsense-account" content="ca-pub-2327476184552798">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CYP367BVGZ"></script>

    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'G-CYP367BVGZ');


    </script>

</head>
