<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h2>
        <a href="/">
          {{ site.title }}
        </a>
      </h2>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      {% for item in site.data.navigation.docs %}
        <p class="category-group">{{item.title}}</p>
        {% for entry in item.subItem %}
          <a class="category-item sidebar-nav-item{% if page.url == entry.url %} active{% endif %}" href="{{ entry.url }}">{{ entry.title }} <em>{{site.categories[entry.category] | size}}</em></a>
        {% endfor %}
      {% endfor %}
    </nav>

    <p class="copyright">&copy; {{ site.time | date: '%Y' }}. <em>{{ site.title }}</em>. All rights reserved.</p>
  </div>
</div>
