<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="/">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      {% for item in site.data.navigation.docs %}
        <a class="sidebar-nav-item{% if page.url == item.url %} active{% endif %}" href="{{ item.url }}">{{ item.title }}</a>
      {% endfor %}
    </nav>

    <p class="copyright">&copy; {{ site.time | date: '%Y' }}. <em>{{ site.title }}</em>. All rights reserved.</p>
  </div>
</div>
