<!DOCTYPE html>
<html lang="ko-KR">

{% include head.html %}

<body>

{% include sidebar.html %}

<div class="content container">
    {{ content }}
</div>

</body>
<script>

    $("img").load(function () {

        var canvas = document.createElement("canvas");
        var ctx = canvas.getContext('2d');

        var imgTag = $(this);
        var parentTag = $(this).parent();

        var image = new Image;
        image.onload = function () {

            var imageSrc = this.src;
            var naturalWidth = this.naturalWidth;
            var naturalHeight = this.naturalHeight;

            canvas.width = naturalWidth;
            canvas.height = naturalHeight;

            ctx.imageSmoothingQuality = "high";
            ctx.drawImage(this, 0, 0, canvas.width, canvas.height);
            ctx.globalAlpha   = 1;
            ctx.fillStyle = "gray";
            ctx.font = "6rem Diphylleia";
            ctx.textAlign = 'center';
            ctx.textBaseline = 'middle';
            ctx.fillText($(".sidebar-about a").text(), canvas.width / 2, canvas.height / 2);
            ctx.globalAlpha   = 0.3;
            imgTag.remove();



            canvas.addEventListener("click", function () {
                var options = "status=no,location=no,toolbar=no,scrollbars=yes,resizable=yes,menubar=no,width=" + (naturalWidth + 30) + ", height=" + (naturalHeight + 30) + ",top=0,left=0"
                window.open("/imagePopup.html?" + (imageSrc.replace("https://github.com/rundevelrun/rundevelrun.github.io/assets/","")), "_blank", options);

            });


        }
        image.src = $(this).attr("src");
        parentTag.append(canvas);


    });

</script>
</html>
