<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>

    {% include sidebar.html %}

    <div class="content container">
      {{ content }}
    </div>

  </body>
<script>

    $("img").load(function(){

      var canvas = document.createElement("canvas");
      var ctx = canvas.getContext('2d');

      var imgTag = $(this);
      var parentTag = $(this).parent();

      var image = new Image;
      image.onload = function(){

        canvas.width = this.naturalWidth;
        canvas.height = this.naturalHeight;

        ctx.imageSmoothingQuality = "high";
        ctx.drawImage(this,0,0,canvas.width,canvas.height);
        ctx.fillStyle = "gray";
        ctx.font = "1.25rem Diphylleia";
        ctx.textAlign = 'center';
        ctx.textBaseline = 'middle';
        ctx.fillText($(".sidebar-about a").text(), canvas.width / 2, canvas.height / 2);
        imgTag.remove();

        var hammertime = new Hammer(canvas);
        hammertime.get('pinch').set({
          enable: true
        });
      }
      image.src = $(this).attr("src");
      parentTag.append(canvas);
    });
</script>
</html>
