<!DOCTYPE html>
<html lang="ko-KR">

{% include head.html %}

<body>

{% include sidebar.html %}

<div class="content container">
    {{ content }}
</div>

</body>
<script>

    $("img").load(function () {

        var canvas = document.createElement("canvas");
        var ctx = canvas.getContext('2d');

        var imgTag = $(this);
        var parentTag = $(this).parent();

        var image = new Image;
        image.onload = function () {

            var imageSrc = this.src;
            var naturalWidth = this.naturalWidth;
            var naturalHeight = this.naturalHeight;

            canvas.width = naturalWidth;
            canvas.height = naturalHeight;

            var textWidth = 223.5;
            var textHeight = 72;
            var textInterval = textWidth + 20;

            ctx.imageSmoothingQuality = "high";
            ctx.drawImage(this, 0, 0, canvas.width, canvas.height);
            ctx.fillStyle = "gray";
            ctx.font = "50px Diphylleia";
            ctx.globalAlpha   = 0.4;

            ctx.rotate((Math.PI/180) * 45);

            var fillText = $(".sidebar-about a").text() + "  ";
            for(var i=0;i<Math.ceil(canvas.height/textHeight);i++){
                fillText += fillText;
            }
            for(var i=Math.ceil(canvas.width/textInterval) * -1 ;i<Math.ceil(canvas.width/textInterval); i++){
                ctx.fillText(fillText, i*textInterval, i * -textInterval);
            }

            imgTag.remove();


            parentTag.append(canvas);

            canvas.addEventListener("click", function () {
                var options = "status=no,location=no,toolbar=no,scrollbars=yes,resizable=yes,menubar=no,width=" + (naturalWidth + 30) + ", height=" + (naturalHeight + 30) + ",top=0,left=0"
                window.open("/imagePopup.html?" + (imageSrc.replace("https://github.com/rundevelrun/rundevelrun.github.io/assets/","")), "_blank", options);

            });


        }
        image.src = $(this).attr("src");


    });

</script>
</html>
